body {
    background-color: rgb(32 14 9);
}

.verifyIcon{
    position: absolute;
    bottom: 40%;
    left: 10%;
    color: rgb(212, 175, 55);
    color: radial-gradient(circle, rgba(212, 175, 55, 1) 19%, rgba(255, 223, 0, 1) 46%, rgba(212, 175, 55, 1) 73%);
}

.progressBar {
    position: fixed;
    z-index: 3000;
    width: 270px;
    margin: auto;
    padding: 10px;
    right: 2%;
    top: 3%;
    border-radius: 7px;
    background-color: #361c10;
}

.welcomeMsg {
    text-align: center;
    color: white;
}

.gradientName {
    background: -webkit-linear-gradient(#DAA520, #F0E68C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.closeButton {
    color: #5C4033;
    position: absolute;
    right: 15px;
    top: -5px;
}
.closeButton:hover {
    cursor:pointer;
}

.showPopUp {
    font-size: larger;
    background: rgb(212, 175, 55);
    background: radial-gradient(circle, rgba(212, 175, 55, 1) 19%, rgba(255, 223, 0, 1) 46%, rgba(212, 175, 55, 1) 73%);
    border-radius: 10px;
    height: 50px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}


@media screen and (max-width: 600px) {

    .verifyIcon{
        left: 25%;
      
        
    }

    .progressBar {
        position: fixed;
        z-index: 3000;
        width: 90%;
        margin: auto;
        padding: 10px;
        right: 3%;
        top: 3%;
        border-radius: 7px;
        background-color: #361c10;
    }
}